<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			
			<!-- CSS Bootstrap -->
			<link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

			<!-- CSS Perseonnalisation interface -->
            <link href="{{ asset('assets/perso-css/perso.css') }}" rel="stylesheet" type="text/css"/>
			
        {% endblock %}
    </head>
    <body>
    	{% block header %}

    		<!-- Menu dynamique -->
	        <header>
	        	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			        <div class="collapse navbar-collapse">
			            <ul class="navbar-nav mr-auto">
			                {% for lien in liens %}
			                    <li class="nav-item">
			                    	{% if lien.subLink == false %}
			                        	<a class="nav-link" href="{{ path(lien.path) }}">{{ lien.name|capitalize }}</a>
			                        {% endif %}
			                        	<ul class="navbar-nav mr-auto">
					                        {% if lien.subLink == true %}
						                        <li class="nav-item">
						                        	<a class="nav-link" href="{{ path(lien.path) }}">{{ lien.name|capitalize }}</a>
						                        </li>
					                        {% endif %}
			                        	</ul>
			                    </li>
			                {% endfor %}
			            </ul>
			        </div>
			    </nav>
	        </header>

        {% endblock %}

        <br/>

        {% block body %}{% endblock %}

        {% block javascripts %}
		
        	<!-- JQuery -->
			<script src="{{ asset('assets/jquery/jquery.min.js') }}" type="text/javascript"/></script>

			<!-- JS Bootstrap -->
			<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"/></script>


			<!-- JS Perseonnalisation interface -->
            <link href="{{ asset('assets/perso-js/perso.js') }}" rel="stylesheet" type="text/css"/>
			
        {% endblock %}
    </body>
</html>
