{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <div class="center">
        <h1>Articles</h1>
        <!-- Création d'un nouvel article -->
        <a class="createnew" href="{{ path('article_new') }}">Create new</a>
    </div>

    <br/>

    <table class="table persotable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        <!-- Boucle parcourant le tableau articles -->
        {% for article in articles %}

            <tr>

                <!-- Affichage de l'ID de l'article -->
                <td>{{ article.id }}</td>

                <!-- Affichage du titre de l'article -->
                <td>{{ article.title }}</td>

                <td>

                    <!-- Si l'article appartient à une catégorie -->
                    {% if article.Category.name is defined %}

                        <!-- Affichage de la catégorie -->
                        {{ article.Category.name }}

                    {% endif %}

                </td>

                <!-- Affichage du contenu de l'article -->
                <td>{{ article.content }}</td>

                <td>   

                    <div class="showedit">

                    <!-- Lien pour voir l'article -->
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>

                    <!-- Lien pour éditer l'article -->
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

                    </div>

                </td>

            </tr>

        {% else %}
        <!-- Si aucun n'article n'est trouvé -->

            <tr>
                <td colspan="4">Aucun article trouvé</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <div class="divpagination">
        <!-- Le bundle KNP Paginator créé automatiquement les liens menant vers les autres pages -->
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}



